<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <merlin_intrusion>

      <general>
        <enabled>1</enabled>
        <mode>detect</mode>
        <log_details>1</log_details>
        <excluded_paths><![CDATA[
/elavon/pi/challengeLoader,
/opayo/pi/challengeLoader,
/sagepay/pi/challengeLoader,
/amgdprcookie/cookie/allow,
/amgdprcookie/cookie/disallow,
/amgdprcookie/cookie/save,
/amgdprcookie/cookie/policy,
/amgdprcookie/cookie/status
        ]]></excluded_paths>
      </general>

      <ratelimit>
        <enabled>1</enabled>
        <window_seconds>60</window_seconds>
        <max_requests>120</max_requests>
        <burst_factor>2</burst_factor>
      </ratelimit>

      <bruteforce>
        <enabled>1</enabled>
        <max_failures>5</max_failures>
        <lock_minutes>30</lock_minutes>
      </bruteforce>

      <honeypot>
        <enabled>1</enabled>
        <url>merlin/honeypot</url>
      </honeypot>

      <!-- GeoIP Velocity defaults -->
      <geo>
        <enabled>1</enabled>
        <db_path></db_path>
        <window_minutes>15</window_minutes>
        <ip_window_minutes>30</ip_window_minutes>
        <min_distance_km>500</min_distance_km>
        <cache_ttl>3600</cache_ttl>
        <severity>high</severity>
        <ignore_cidrs><![CDATA[
10.0.0.0/8,
172.16.0.0/12,
192.168.0.0/16,
127.0.0.0/8,
::1/128,
fc00::/7,
fe80::/10
        ]]></ignore_cidrs>
      </geo>
<!-- Spoofed Headers and Bots -->
      <headers>
      <enabled>1</enabled>
      <severity>high</severity>
      <allowed_hosts><![CDATA[
theappliancedepot.co.uk,
www.theappliancedepot.co.uk,
dev.theappliancedepot.co.uk,
vanilla.theappliancedepot.co.uk
      ]]></allowed_hosts>
      <forbid_ip_host>1</forbid_ip_host>
      <trusted_proxy_cidrs><![CDATA[
10.0.0.0/8,
172.16.0.0/12,
192.168.0.0/16,
127.0.0.0/8,
::1/128,
fc00::/7,
fe80::/10
      ]]></trusted_proxy_cidrs>
      <disallow_private_client_ip>1</disallow_private_client_ip>
      <require_accept>1</require_accept>
      <required_accept_tokens><![CDATA[
text/html,
application/xhtml+xml
      ]]></required_accept_tokens>
    </headers>
    </merlin_intrusion>
  </default>
</config>
